@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

$primary-color: #667EFF;
$secondary-color: #FFD600;
$black: #111111;
$white: #f8f8f8;
$light-gray:#ebebeb;
$padding-large: 148px;
$padding-small: 36px;

html,body{
    overflow-x: hidden;
}

body{
    font-family: 'Roboto', sans-serif;
    padding: 0px $padding-large 0 $padding-large;
    color: $black;
    background-color: $white;
    margin: 0;
    width: calc(100vw - #{$padding-large} - #{$padding-large});
}


// TYPOGRAPHY

h1, h2, h3, h4{
    font-family: 'Abril Fatface', cursive;
}

h1{
    font-size: 92px;
}

h2{
    font-size: 36px;
}

h3{
    font-size: 28px;
}

h4{
    font-size: 18px;
    margin: 8px 0;
}

.primary-color{
    color: $primary-color;
}

p, li{
    font-size: 16px;
    line-height: 140%;
    margin: 4px 0;
}

a{
    color: $black;
}

a.white{
    color: $white;
}

a:visited{
    color: $black;
}

a.white:visited{
    color: $white;
}

h1.home{
    font-size: 64px;
    margin: 0px;
    line-height: 125%;
    .letter{
        display: inline-block;
        /* transition: all 300ms ease; */
    }
}

.subtitle{
    font-size: 24px;
    font-style: italic;
    margin-top: 12px;
}

.eyebrow{
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}

.white{
    color: $white;
}

.center{
    text-align: center;
}

.faq{
    h4{
        margin-bottom: 0;
    }
    p{
        margin-top: 6px;
    }
}

@media only screen and (max-width: 600px) {
    h1{
        font-size: 48px;
    }
    h1.home{
        font-size:42px;
    }
    h2{
        font-size: 24px;
    }
    .subtitle{
        font-size: 18px;
    }
}

// Sections

section{
    margin: 100px 0;
    max-width: 100vw;
}

.hero{
    margin-bottom: 92px;
}

.hero.half{
    max-width: 480px;
}

.banner{
    transform: rotate(-4deg) translateX(-10px);
    margin: 52px (-$padding-large);
    background-color: $primary-color;
    padding: 36px $padding-large;
    width: calc(100% + 10px);
}

.logistics{
    margin-left: 48px;
    padding: 44px;
    min-width: 240px;
    background-image: url("/assets/border0.svg");
    background-repeat: no-repeat;
    background-position: 0px 36px;
    background-size: 100%;
}

// flex

.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.col{
    flex-direction: column;
}

.h-center{
    align-items: center;
}

.flex-item{
    flex: 1;
    margin-right: 42px;
}

.flex-item:last-child{
    margin-right: 0;
}

.week{
    margin-bottom: 64px;
}

.module-section{
    background-color: $primary-color;
    text-align: center;
    margin-bottom: 32px;
    padding: 0px 18px;
}

// Nav
nav{
    width: 100%;
    display: flex;
    margin-bottom: 24px;
    justify-content: flex-end;
    flex-direction: row;
    font-weight: 900;
    ul{
        padding: 0;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: flex-end;
        li{
            font-size: 18px;
            padding:26px;
            a{
                text-decoration: none;
            }
        }
        .active{
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
        }
        .active-1{
            background-image: url("/assets/border1.svg");
        }
        .active-2{
            background-image: url("/assets/border2.svg");
        }
        .active-3{
            background-image: url("/assets/border3.svg");
        }
        .active-4{
            background-image: url("/assets/border4.svg");
        }
        .active-5{
            background-image: url("/assets/border5.svg");
        }
    }
}

// Images
img{
    max-width: calc(100vw - #{$padding-large} - #{$padding-large});
}

// Buttons
.blob-button{
    width: fit-content;
    margin-left: 24px;
    padding:56px;
    background-image: url("/assets/blob1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    height: fit-content;
    a{
        text-decoration: none;
    }
}

// Utilities
.mt2{
    margin-top: 24px;
}

// Footer

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 72px;
    margin-bottom: 24px;
    font-family: 'Abril Fatface', cursive;
    text-align: center;

    .quote{
        max-width: 600px;
        color: $secondary-color;
        font-size: 24px;
    }

    .copywrite{
        font-size: 12px;
        margin-top: 56px;
    }
}

.gridlines{
    position: fixed;
    top:-100px;
    left:$padding-large;
    width: calc(100vw - #{$padding-large} - #{$padding-large});
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .line{
        margin-top: -50px;
        height: calc(100vh + 200px);
        width:2px;
        background-color: $light-gray;
        // margin-right: 76px;
    }

}

@media only screen and (max-width: 1280px) {
    .line{
        display: none;
    }
    .line:nth-child(-n+8) {
        display: block;
    }
}

@media only screen and (max-width: 800px) {
    body{
        padding: 0 $padding-small 0 $padding-small;
        width: calc(100vw - #{$padding-small} - #{$padding-small});
    }
    .banner{
        margin: 52px (-$padding-small);
        background-color: $primary-color;
        padding: 36px $padding-small;
    }
    .gridlines{
        left:$padding-small;
        width: calc(100vw - #{$padding-small} - #{$padding-small});

        .line{
            display: none;
        }
        .line:nth-child(-n+8) {
            display: none;
        }
        .line:nth-child(-n+4) {
            display: block;
        }
    }
    .row{
        flex-direction: column;
    }
    section{
        margin: 64px 0;
    }
    img{
        max-width: calc(100vw - #{$padding-small} - #{$padding-small});
    }
    nav{
        ul{
            flex-wrap: wrap;
            li{
                padding: 12px;
            }
        }
    }
}